@import "../../styles/fonts";

.container {
  height: 100vh;
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding-block: var(--dftdb-inset);

  h1 {
    @include heading-4($bold-weight);
    margin-top: var(--section-inset);
  }
}
