@import "../../styles/fonts";

.container {
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding-block: var(--dftdb-inset);

  h1 {
    @include heading-4($bold-weight);
  }
}
