.headerModal {
  min-width: 240px;
  position: absolute;

  border-radius: var(--default-border-radius);
  box-shadow: 0 4px 4px var(--shadow-color);
  background-color: var(--light-color);

  overflow: hidden;

  ul {
    list-style: none;
  }

  button {
    border: none;
    background-color: transparent;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    width: 100%;

    text-align: start;
    font-size: 0.8125rem;

    transition: background-color 0.2s;

    &:hover {
      background-color: var(--primary-very-light-color);
    }
  }
}

.warning {
  button {
    color: var(--negative-color);
  }
}
