@import "@/styles/fonts";

.sideBarNavItemContainer {
  display: block;

  & + li {
    margin-top: var(--dft-inset);
  }

  a {
    @include subtitle-1($medium-weight);
    color: var(--heading-color);
  }

  &.active {
    a {
      color: var(--primary-color);
    }
  }
}
