.itemDetailTile {
  & > span {
    display: block;
    font-size: var(--subtitle-2-font);
    font-weight: 400;
    color: var(--gray-74-color);
    margin-bottom: 0.25rem;
  }

  strong {
    font-size: var(--subtitle-1-font);
    font-weight: 500;
    display: inline-block;

    span {
      color: var(--primary-color);

      &::before {
        content: " ";
      }
    }
  }
}
