.feedbackTile {
  background-color: var(--negative-color);
  color: var(--light-color);
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border-radius: var(--small-border-radius);

  text-transform: capitalize;
  font-size: var(--caption-font);
}
