.locationCard {
  display: grid;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-very-light-color);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;

  text-align: center;

  strong {
    font-size: var(--subtitle-1-font);
    font-weight: 500;
  }

  p {
    font-size: var(--body-2-font);
    color: var(--gray-74-color);
  }
}
