:root {
  // dark theme
  --primary-color: #5834ea;
  --secondary-color: #1a191f;
  --negative-color: #e5404d;

  --primary-light-color: #a08afa;

  --background-color: #212028;
  --card-color: #2b2933;
  --indiferent-color: #433d5c;
  --disabled-color: #3c3a45;

  // text color
  --heading-color: #fff;
  --heading-2-color: #9f9cab;
  --body-color: #cac8d0;
  --disabled-body-color: #6e6887;
}
