@mixin scale-animation {
  animation: scale 0.2s ease;

  @keyframes scale {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@mixin translate-animation($tx, $ty) {
  animation: translate 0.2s ease;

  @keyframes translate {
    0% {
      opacity: 0;
      transform: translate($tx, $ty);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
