:root {
  --h5-font: 1.5rem; // 24
  --h6-font: 1.25rem; // 20
  --subtitle-1-font: 1rem; // 16
  --subtitle-2-font: 0.875rem; // 14
  --body-1-font: 1rem; // 16
  --body-2-font: 0.875rem; // 14
  --button-font: 0.875rem; // 14
  --caption-font: 0.75rem; // 12
}
