$regular-weight: 400;
$medium-weight: 500;
$semiBold-weight: 600;
$bold-weight: 700;

%defaultValues {
  line-height: 1.4;
}

@mixin heading-4($weight: $regular-weight) {
  font-size: 2.125rem;
  font-weight: $weight;
  letter-spacing: 0.25px;
  @extend %defaultValues;
}

@mixin heading-5($weight: $regular-weight) {
  font-size: 1.5rem;
  font-weight: $weight;
  letter-spacing: 0;
  @extend %defaultValues;
}

@mixin heading-6($weight: $medium-weight) {
  font-size: 1.25rem;
  font-weight: $weight;
  letter-spacing: 0.15px;
  @extend %defaultValues;
}

@mixin subtitle-1($weight: $regular-weight) {
  font-size: 1rem;
  font-weight: $weight;
  letter-spacing: 0.15px;
  @extend %defaultValues;
}

@mixin subtitle-2($weight: $medium-weight) {
  font-size: 0.875rem;
  font-weight: $weight;
  letter-spacing: 0.1px;
  @extend %defaultValues;
}

@mixin body-1($weight: $regular-weight) {
  font-size: 1rem;
  font-weight: $weight;
  letter-spacing: 0.5px;
  @extend %defaultValues;
}

@mixin body-2($weight: $regular-weight) {
  font-size: 0.875rem;
  font-weight: $weight;
  letter-spacing: 0.25px;
  @extend %defaultValues;
}

@mixin button-font($weight: $medium-weight) {
  font-size: 0.875rem;
  font-weight: $weight;
  letter-spacing: 1.25px;
  @extend %defaultValues;
}

@mixin caption-font($weight: $regular-weight) {
  font-size: 0.75rem;
  font-weight: $weight;
  letter-spacing: 0.4px;
  @extend %defaultValues;
}

@mixin overline-font($weight: $regular-weight) {
  font-size: 0.75rem;
  font-weight: $weight;
  letter-spacing: 0.625rem;
  @extend %defaultValues;
}
