:root {
  --h5-font: 1.5rem;
  --h6-font: 1.25rem;
  --subtitle-1-font: 1rem;
  --subtitle-2-font: 0.875rem;
  --body-1-font: 1rem;
  --body-2-font: 0.875rem;
  --button-font: 0.875rem;
  --caption-font: 0.75rem;
}
