// specifc code for browsers and fixes
@use "specifics";

// color pallete
@import "colors.scss";

// metrics like border-radius styles config
@import "metrics.scss";

:root {
  --dft-transition: all 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;

  // outline-width: 2px;
  // outline-color: var(--primary-color);
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--heading-color);
}

// nothing is perfect
button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

// make image works
img {
  display: block;
  width: 100%;
}
