// color pallete
@import "colors.scss";

// font styles config
@import "fonts.scss";

// metrics like border-radius styles config
@import "metrics.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--heading-color);

  // reset some default styles
  padding: 0;
  margin: 0;
}

// nothing is perfect
button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

// make image works
img {
  display: block;
  width: 100%;
}
