// specifc code for browsers and fixes
@use "others/browser-specifics";

// style variables to put inside :root selector
@import "variables";

// resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // outline-width: 2px;
  // outline-color: var(--primary-color);
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--heading-color);
}

input,
textarea,
select {
  font-family: inherit;
}

// nothing is perfect
button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

// make image works
img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
menu {
  list-style-type: none;
}

svg {
  fill: var(--heading-color);
}
