@import "@/styles/grids";

.content {
  @include standard-grid;

  flex: 1;

  section {
    display: flex;
    flex-direction: column;
  }
}

.list {
  flex: 1;

  li + li {
    margin-top: var(--section-inset);
  }
}

.actionContainer {
  margin-top: var(--big-inset);
}
