@import "@/styles/fonts";

.contentContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--dft-inset);
}

.galery {
  grid-column: 1 / 4;
}

.details {
  grid-column: 4/ 7;

  .code {
    display: block;
    @include subtitle-1($medium-weight);
    color: var(--heading-2-color);
    margin-bottom: var(--dft-inset);
  }

  h2 {
    @include heading-5($semiBold-weight);
    margin-bottom: var(--smdb-inset);
  }

  p {
    @include body-1;
    color: var(--body-color);
    margin-top: var(--dft-inset);
  }
}

.price {
  margin-top: var(--section-inset);

  strong {
    @include heading-6($semiBold-weight);
  }
}
