.itemRequestCard {
  padding: 1.5rem;
  background-color: var(--light-color);
  border-radius: var(--default-border-radius);
  display: flex;
  flex-direction: column;

  cursor: pointer;
  transition: var(--default-transition);

  p {
    flex: 1;

    font-size: var(--body-1-font);
    color: var(--gray-74-color);
    margin-bottom: 1rem;

    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .codeContainer {
    span {
      display: block;
      margin-bottom: 0.25rem;

      font-size: var(--subtitle-2-font);
    }

    strong {
      display: block;
      font-size: var(--subtitle-1-font);
      color: var(--primary-color);
      font-weight: 500;
    }
  }

  &:hover {
    background-color: var(--primary-very-light-color);
  }
}
