.searchBar {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 1.5rem;

  padding-inline: 1rem;
  background-color: var(--light-color);
  border-radius: var(--default-border-radius);

  transition: all 0.2s ease;

  &:focus-within {
    box-shadow: 0 0 0.25rem 2px var(--primary-light-color),
      0 0 0 2px var(--primary-color);
  }

  &:hover {
    box-shadow: 0 0 0.5rem 2px var(--primary-light-color);
  }

  input {
    font-size: var(--body-1-font);
    color: var(--dark-color);

    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;

    &::placeholder {
      color: var(--gray-74-color);
    }

    &:focus {
      outline: none;
    }
  }
}
