.fieldContainer {
  display: flex;
  flex-direction: column-reverse;

  label {
    display: block;
    font-size: 0.8125rem;

    margin-bottom: 0.5rem;
    padding-left: 1rem;
  }

  input,
  textarea {
    width: 100%;
  }

  textarea {
    resize: none;
    min-height: calc(3rem * 3);
    padding-block: 1rem;
  }
}

.input {
  display: block;
  height: 3rem;
  border-radius: 0.5rem;
  padding-inline: 1rem;

  font-size: 0.9375rem;
  border: 1px solid var(--gray-54-color);

  transition: var(--default-transition);

  &::placeholder {
    color: var(--gray-74-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--primary-color);
    outline: none;
    border-color: transparent;

    + label {
      color: var(--primary-color);
    }
  }
}

.prefixContainer {
  display: flex;
  align-items: center;

  span {
    color: var(--primary-color);
    font-weight: 500;
    margin-right: 0.5rem;
  }

  &:focus-within {
    box-shadow: 0 0 0 2px var(--primary-color);
    outline: none;
    border-color: transparent;
  }

  input {
    border: none;
    outline: none;
  }
}
