@import "@/styles/fonts";
@import "@/styles/patches";

.itemCardContainer {
  display: flex;
  flex-direction: column;

  background-color: var(--card-color);
  border-radius: var(--dft-radius);
  overflow: hidden;

  transition: var(--dft-transition);

  &:hover {
    filter: brightness(0.9);
  }
}

.itemImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);

  position: relative;

  span {
    position: absolute;
    bottom: var(--horizontal-inset);
    right: var(--horizontal-inset);
  }
}

.itemDetailsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: var(--dft-inset);

  span {
    @include body-2;
    color: var(--heading-2-color);
  }

  p {
    flex: 1;
    margin-block: var(--smdb-inset);

    @include body-1;
    @include text-max-lines;
  }

  strong {
    @include subtitle-1($semiBold-weight);
    color: var(--primary-color);
  }

  &.unvailable {
    span,
    p,
    strong {
      color: var(--disabled-body-color);
    }
  }
}
