@import "../../styles/fonts";

.sideBarContainer {
  position: sticky;
  top: 0;

  grid-column: 1 / 3;
  grid-row: 1 / 3;

  height: 100vh;
  display: flex;
  flex-direction: column;

  padding-bottom: var(--dftdb-inset);

  header {
    height: var(--header-size);

    display: flex;
    align-items: center;

    margin-bottom: var(--section-inset);
  }

  aside {
    flex: 1;

    > div {
      & + div {
        margin-top: var(--big-inset);
      }
    }
  }

  footer {
    @include caption-font;
    color: var(--indiferent-color);
  }
}
