@import "@/styles/fonts";

.sideBarContainer {
  position: sticky;
  top: 0;

  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    height: var(--header-size);

    display: flex;
    align-items: center;
  }

  nav {
    flex: 1;
    margin-top: var(--section-inset);

    > div {
      & + div {
        margin-top: var(--big-inset);
      }
    }
  }

  footer {
    @include caption-font;
    color: var(--indiferent-color);
    margin-bottom: var(--dftdb-inset);
  }
}
