@import "@/styles/animations";

.dropdownContainer {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;

  .menu {
    position: absolute;
    right: 0;
    top: calc(100% + var(--smdb-inset));

    overflow: hidden;
    min-width: 240px;

    background-color: var(--card-color);
    border-radius: var(--dft-radius);

    padding-block: var(--dft-inset);
    box-shadow: 0 4px 4px var(--shadow-color);

    transform-origin: right top;
    @include scale-animation;
  }
}
