.image {
  object-fit: cover;
}

.standard {
  aspect-ratio: var(--standard-aspect-ratio);
}

.square {
  aspect-ratio: var(--square-aspect-ratio);
}

.widescreen {
  aspect-ratio: var(--widescreen-aspect-ratio);
}

.errorImage {
  object-fit: scale-down;
}
