.wrapper {
  width: 100%;
  height: auto;

  img {
    object-fit: cover;
  }

  &.standard {
    img {
      aspect-ratio: var(--standard-aspect-ratio);
    }
  }

  &.square {
    img {
      aspect-ratio: var(--square-aspect-ratio);
    }
  }

  &.widescreen {
    img {
      aspect-ratio: var(--widescreen-aspect-ratio);
    }
  }

  &.placeholder {
    img {
      object-fit: scale-down;
    }
  }
}
