@import "../../styles/layouts/grids";

.headerContainer {
  display: flex;
  justify-content: space-between;

  margin-bottom: var(--section-inset);
}

.actionsContainer {
  display: flex;
  align-items: center;

  & > button {
    margin-right: var(--section-inset);
  }
}

.contentContainer {
  @include content-columns;
}
