@mixin content-columns($columns: #{3 / -1}) {
  grid-column: $columns;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--dft-inset);
}

@mixin grid-layout($columns: repeat(10, 1fr)) {
  display: grid;
  grid-template-columns: $columns;
  gap: var(--dft-inset);

  margin: 0 auto;
}

@mixin standard-grid($templateColumns: repeat(2, 1fr)) {
  display: grid;
  grid-template-columns: $templateColumns;
  gap: var(--dft-inset);
}
