@import "@/styles/fonts";

.modal {
  max-width: 488px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin-bottom: var(--dft-inset);
  }

  h3,
  p {
    text-align: center;
  }

  h3 {
    display: block;

    @include heading-6;
    margin-bottom: var(--dft-inset);
  }

  p {
    @include body-1;
    color: var(--body-color);
  }
}
