@import "@/styles/animations";

.overlay {
  position: fixed;
  inset: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--overlay-color);

  padding: var(--dft-inset);
}

.modal {
  background-color: var(--card-color);
  border-radius: var(--dft-radius);
  padding: var(--section-inset);

  position: relative;

  @include scale-animation;
}

.closeButton {
  position: absolute;
  top: var(--smdb-inset);
  right: var(--smdb-inset);
}
