.optionButtonContainer {
  background-color: var(--card-color);

  svg {
    fill: var(--primary-color);
  }

  &.danger {
    svg {
      fill: var(--negative-color);
    }
  }

  &.noBg {
    background-color: transparent;
  }
}
