// Change the selected text color
$selectedTextBg-color: var(--primary-color);
$selectedText-color: var(--heading-color);

::selection {
  color: $selectedText-color;
  background: $selectedTextBg-color;
}
// Code for Firefox
::-moz-selection {
  color: $selectedText-color;
  background: $selectedTextBg-color;
}

// remove the ‘X’ button of search input
input[type="search"] {
  // from chrome
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  // from internet explorer
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}
