.iconContainer {
  --size: 48px;
  height: var(--size);
  width: var(--size);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
  border-radius: var(--default-border-radius);
  overflow: hidden;

  transition: var(--default-transition);

  &:hover {
    background-color: var(--primary-very-light-color);
  }

  &:disabled {
    background-color: transparent;
    filter: grayscale(0.8);
  }
}

.warning {
  &:hover {
    background-color: var(--negative-very-light-color);
  }
  &:disabled {
    background-color: transparent;
    filter: grayscale(0.8);
  }
}
