.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-very-light-color);
  aspect-ratio: 1;
  border-radius: 50%;

  border: 2px solid var(--primary-light-color);
  overflow: hidden;

  span {
    display: block;
    font-weight: 600;
    font-size: 0.9375rem;
    color: var(--primary-color);
  }
}

.medium {
  height: 1.875rem;

  span {
    font-size: 0.75rem;
  }
}

.default {
  height: 2.5rem;
}

.button {
  height: 3rem;
}
