.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-light-color);
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;

  cursor: pointer;
  border: 2px solid var(--primary-light-color);
  overflow: hidden;

  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 0.5rem var(--primary-light-color);
  }
}

.userInitials {
  font-weight: 600;
  color: var(--light-color);
  display: block;
}
