@import "@/styles/fonts";

.group {
  &[data-section] + &[data-section] {
    margin-top: var(--big-inset);
  }
}

.header {
  h2 {
    @include heading-6;
  }

  p {
    @include body-2;
    color: var(--body-color);
    margin-top: var(--sm-inset);
  }
}

.inputs {
  margin-top: var(--dft-inset);

  & > * {
    & + * {
      margin-top: var(--section-inset);
    }
  }
}
