@import "@/styles/fonts";

.menuLineContainer {
  background-color: var(--card-color);
  padding-inline: var(--sm-inset);

  position: relative;
  transition: var(--dft-transition);

  & + li::before {
    content: " ";
    height: 1px;
    background-color: var(--indiferent-color);

    display: flex;
    justify-content: center;
    margin-block: var(--sm-inset);
    margin-inline: var(--section-inset);
  }

  &.danger {
    color: var(--negative-color);

    svg {
      fill: var(--negative-color);
    }
  }

  &:hover {
    filter: brightness(0.8);
  }

  svg {
    margin-right: var(--horizontal-inset);
  }

  a,
  button {
    @include subtitle-2($regular-weight);
    color: inherit;
    border-radius: var(--dft-radius);

    display: flex;
    align-items: center;
    padding-block: var(--horizontal-inset);
    padding-inline: var(--section-inset);

    &:hover {
      filter: none;
    }
  }
}
