@import "../../../styles/fonts";

.menuLineContainer {
  padding-block: var(--horizontal-inset);
  padding-inline: var(--section-inset);
  background-color: var(--card-color);

  position: relative;
  cursor: pointer;
  transition: var(--dft-transition);

  & + li::after {
    content: " ";
    position: absolute;
    top: 0;

    display: block;
    height: 1px;
    width: calc(100% - calc(var(--section-inset) * 2));

    background-color: var(--indiferent-color);
  }

  &.danger {
    color: var(--negative-color);

    svg {
      fill: var(--negative-color);
    }
  }

  &:hover {
    filter: brightness(0.8);
  }

  svg {
    margin-right: var(--horizontal-inset);
  }

  a,
  button {
    @include subtitle-2($regular-weight);

    color: inherit;
    display: flex;
    align-items: center;

    &:hover {
      filter: none;
    }
  }
}
