.grid {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-inline: 1rem;
  padding-block: 1.5rem;

  h1 {
    grid-column: 1 / -1;
    margin-bottom: 1.5rem;
  }
}

.requestsSection {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1.5rem;
}
