.grid {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-inline: 1rem;
  padding-block: 1.5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  h1 {
    grid-column: 1 / -1;
  }
}

.requestsSection {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1.5rem;

  &.shrink {
    grid-column: 1 / 2;
    grid-template-columns: 1fr;
  }
}

.detailsSection {
  div {
    position: sticky;
    top: 1.5rem;
  }
}
