.main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-inline: 1rem;
  padding-block: 1.5rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  .itemsSection {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    &.shrink {
      grid-column: 1/ 3;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }
}
