@import "@/styles/fonts";

.signInFormContainer {
  max-width: 320px;
  margin-top: var(--dftdb-inset);

  & > span {
    & + span {
      margin-top: var(--section-inset);
    }
  }

  & > button {
    margin-top: calc(var(--dftdb-inset) * 2);
  }
}

.forgotPassword {
  color: var(--primary-color);
  filter: brightness(0.8);

  @include subtitle-2;
  text-decoration: none;

  display: inline-block;
  margin-top: var(--dft-inset);
  padding-block: var(--sm-inset);

  transition: var(--dft-transition);

  &:hover {
    filter: none;
  }
}
