.fog {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($color: #000, $alpha: 0.54);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  z-index: 1;
}

.modal {
  background-color: var(--light-color);
  border-radius: var(--default-border-radius);
  padding: 1.5rem;
  max-width: 600px;

  position: relative;

  h2 {
    font-size: var(--h5-font);
    font-weight: 500;
    margin-inline: calc(48px + 1rem);
    margin-bottom: 1.5rem;
    text-align: center;
  }

  animation: open 0.2s ease;

  @keyframes open {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.closeButton {
  --size: 48px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: none;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  transition: var(--dafult-transition);

  &:hover {
    background-color: var(--primary-very-light-color);
  }
}
