@import "@/styles/grids";

.form {
  @include form-grid;

  section {
    &:first-child {
      grid-column: 1 / 4;
    }

    &:last-child {
      grid-column: 4 / 7;
    }
  }
}

.actions {
  margin-top: var(--big-inset);
}
