@import "@/styles/fonts";

$default-size: 3rem; // 48px
$small-size: 2.5rem;

.avatarContainer {
  height: $default-size;
  width: $default-size;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--card-color);
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--dft-border-size) var(--primary-light-color);
  overflow: hidden;

  &[data-size="small"] {
    height: $small-size;
    width: $small-size;
  }

  &[data-radius="square"] {
    border-radius: var(--dft-radius);

    img {
      border-radius: var(--dft-radius);
    }
  }

  img {
    object-fit: cover;
    border-radius: 50%;
    border: var(--dft-border-size) solid transparent;
  }

  span {
    @include heading-6;
  }
}

.avatarButton {
  &:hover {
    box-shadow: inset 0 0 0 var(--dft-border-size) var(--primary-color);
  }
}
