.container {
  background-color: var(--light-color);
  padding-inline: 1rem;
  padding-block: 1rem;
}

.header {
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;

    li + li {
      margin-left: 0.75rem;
    }
  }
}

.menu {
}
