.container {
  background-color: var(--light-color);
  padding-block: 1rem;
}

.header {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-inline: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuNav {
  display: flex;

  .menuOptions {
    list-style: none;
    display: flex;
  }
}

.menuOption {
  position: relative;

  & + li {
    margin-left: 0.75rem;
  }

  &:last-child {
    margin-left: 1.5rem;
  }
}

.avatar {
  border: none;
  background-color: transparent;
  border-radius: 50%;

  transition: var(--default-transition);

  &:hover {
    box-shadow: 0 0 0.25rem 2px var(--primary-light-color);
  }
}
