.container {
  background-color: var(--light-color);
  padding-block: 1rem;
}

.header {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-inline: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;

  ul {
    list-style: none;
    display: flex;

    li + li {
      margin-left: 0.75rem;
    }

    li:last-child {
      margin-left: 1.5rem;
    }
  }
}
