.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 1.5rem calc(1.5rem * 3);

  background-color: var(--light-color);
  border-radius: var(--default-border-radius);
  padding: 0.75rem 1.5rem 1.5rem;

  header {
    grid-column: 1 / -1;
  }

  & > div {
    display: grid;
    gap: 1.5rem;
  }

  h2 {
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-08-color);

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }
}

.spliter {
  display: flex;
  gap: 1.5rem;
}
