.option {
  a {
    background-color: transparent;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    width: 100%;

    font-size: var(--body-2-font);

    display: block;
    position: relative;

    cursor: pointer;
    transition: var(--default-transition);

    &.warning {
      color: var(--negative-color);
    }

    &:hover {
      background-color: var(--primary-very-light-color);
    }

    &::after {
      content: "";
      display: block;
      width: calc(100% - (2 * 1.5rem));
      height: 1px;
      background-color: var(--gray-08-color);

      position: absolute;
      bottom: 0;
    }
  }

  &:last-child {
    a::after {
      content: none;
    }
  }
}
